.count {
  padding: 10px 0px;
  margin: 0px;
  .item-count {
    padding: 11.5px 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #777;
  }
  .show-count {
    background-color: #3a7be0 !important;
  }
}
