<!--
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button (click)="onBack()"></ion-back-button>
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
  <!--<div *ngIf="!isOrders()">
    <div class="empty-list">
      <ion-icon class="empty-cart" name="timer" item-left></ion-icon>
      <p>{{"No Orders" | translate}} </p>
    </div>
  </div>-->



</ion-content>
